.table-heading {
  background-color: #dee2e6;
}
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #007bff;
  cursor: pointer;
  color: white;
}
ul {
  margin-left: 41%;
}
.card {
  width: 36rem;
  height: 18rem;
}
.card-header {
  background-color: #007bff !important;
  color: white;
  padding: 2px 2px;
}
 button{
  float: right;
  margin-right: 1%;
  margin-top: 1%;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  margin-right: 81%;
  margin-top: 0px;
}
.popCard {
  position: fixed;
  top: 8%;
  left: 38%;
  background-color: white;
  width: 25rem;
  height: 10rem;
}
.popBody p{
  margin-top: 8%;
  margin-left: 11%;
}
.pop-button .btn-primary{
 border-color: #007bff;
 margin-right: 0%;
 margin-top: 0px;
 margin-bottom: 3px;
}